<hr>
<form [formGroup]="courseEditForm" (ngSubmit)="onFormSubmit()" class="course-form">
    <div>
        <label>Title</label>
        <input type="text" formControlName="title">
        <span *ngIf="(f.title.dirty || f.title.touched) && f.title.errors?.required">Title is required</span>
    </div>

    <div>
        <label>Description</label>
        <input type="text" formControlName="description">
        <span *ngIf="(f.description.dirty || f.description.touched) && f.description.errors?.required">Description is
            required</span>
    </div>

    <div class="course-wrapper">
        <div class="course-author">
            <h2>
                Add authors
            </h2>
            <label>Author name</label>
            <input type="text" formControlName="newAuthor">
            <span *ngIf="(f.newAuthor.dirty || f.newAuthor.touched) && f.newAuthor.errors?.invalidAuthorName">
                {{f.newAuthor.errors?.invalidAuthorName}}
            </span>
            <button (click)="createAuthor()">Create author</button>
        </div>

        <div class="course-duration">
            <h2>
                Duration
            </h2>
            <label>Duration</label>
            <input type="text" formControlName="duration">
            <span *ngIf="(f.duration.dirty || f.duration.touched) && f.duration.errors?.required">Duration is
                required</span>
        </div>

        <div class="course-authors">
            <h2>
                Author list
            </h2>
            <ul formArrayName="authors">
                <li *ngFor="let author of authors.controls; let i = index">
                    <span>
                        {{author.value}}
                    </span>
                    <button (click)="deleteAuthor(i)">
                        delete author
                    </button>
                </li>
            </ul>
        </div>
    </div>
</form>