<app-search [searchRequest]="placeholder" (searchRequestEvent)="onSearch($event)"></app-search>
<app-button buttonText="Add new course" [routerLink]="['/courses/add']">
</app-button>
<ng-container *ngIf="(courses$ | async)?.length else infoBlock">
    <div *ngFor="let course of courses$ | async" class="course-list">
        <app-course [courseCard]='course'>
            <app-button buttonText="Show course" (notify)="onDisplay(course.id)"></app-button>
            <ng-container *ngIf="isAdmin$ | async">
                <app-button [iconName]="faEdit" (notify)="onEdit(course.id)"></app-button>
                <app-button [iconName]="faTrash" (notify)="onDelete(course.id)"></app-button>
            </ng-container>
        </app-course>
    </div>
</ng-container>

<ng-template #infoBlock>
    <app-info infoTitle="Your list is empty">
        <app-button buttonText="Add new course"></app-button>
    </app-info>
</ng-template>