<div *ngIf="courseCard" class="course-card p-3 border border-success mb-4">
    <div class="wrapper-text">
        <h2 class="course-title text-capitalize fw-bold lh-2">
            {{courseCard.title}}
        </h2>
        <p class="course-description lh-2">
            {{courseCard.description}}
        </p>
    </div>
    <div class="wrapper-info">
        <span class="course-author lh-2">
            <strong>Authors:</strong> {{courseCard.authors}}
        </span>
        <span class="course-duration lh-2">
            <strong>Duration:</strong> {{courseCard.duration | duration}}
        </span>
        <span class="course-creation-date lh-2">
            <strong>Created:</strong> {{courseCard.creationDate | creationDate:'d.MM.yyyy'}}
        </span>
        <span class="course-button">
            <ng-content></ng-content>
        </span>
    </div>


</div>