.course-card {
    border: 2px solid #37a157;
    margin-bottom: 20px;
    padding: 20px;
}

.course-card {  display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: min-content min-content min-content min-content;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "course-title course-author"
      "course-title course-duration"
      "course-description course-creation-date"
      "course-description course-btn";
  }
  
  .course-author { grid-area: course-author; }
  
  .course-duration { grid-area: course-duration; }
  
  .course-creation-date { grid-area: course-creation-date; }
  
  .course-btn { grid-area: course-btn; }
  
  .course-title { grid-area: course-title; }
  
  .course-description { grid-area: course-description; }
  